<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>見えないモノを見ようとして</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<style type="text/css">
<!--
.top-b {
	background-image: url("img/top.jpg");
	background-position: bottom;
	background-size: auto 100%;
}

.container {
	margin-bottom: 50px;
}
-->
</style>

<div class="bs-component">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand text-info" href="/">見えないモノを見ようとして</a>
		<!-- 望遠鏡を覗き込んだ〜♪ -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarColor03" aria-controls="navbarColor03"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav mr-auto">
			</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text"
				placeholder="meetingID">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">疲れを見る</button>
		</form>
	</nav>
</div>
</head>
<body>
	<div
		class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light top-b">
		<div class="col-md-5 p-lg-5 mx-auto my-5 ">
			<h1 class="display-4 font-weight-normal text-light">見えないモノを、見ようとして</h1>
			<p class="lead font-weight-normal text-light">ZOOMミーティングの参加者の疲れを可視化！</p>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text"
					placeholder="meetingID">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">疲れを見る</button>
			</form>
		</div>
	</div>
</body>